#root {
  margin: 0 auto;
  text-align: center;
  height: 100dvh;
  width: 100dvw;

  --primary-color: #1da6a6;
  --secondary-color: #f2be22;
  --main-background-color: linear-gradient(0deg, #f3f0e7 30%, #f0e4da 76%);
  --background-color: #e8e8e1;
  --text-color: #333;
  --link-color: #333;
  --link-accent-color: #fff;
  --accent-color: #f23005;
  --border-color: #ccc;

  background-color: var(--main-background-color);

  background-image: url("../public/beach_bg.jpg");
  background-size: cover;
}

.deezer__iframe {
  padding-top: 2rem;
}

/* main styles */
.main-header {
  font-size: 2rem;
}
