.drink-music {
  display: flex;
  justify-content: space-around;
  background-color: var(--background-color);
  backdrop-filter: blur(6px);
}

.drink-music__container {
  width: 42dvw;
}

.drink-music__title {
  font-family: "Annie Use Your Telescope";
  letter-spacing: 3px;
  font-size: 2.4rem;
}

.drink-music__ingredients,
.drink-music__img-container {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.drink-music__ingredients-header {
  font-family: "Annie Use Your Telescope";
  letter-spacing: 3px;
  font-size: 2rem;
  text-align: right;
}

.drink-music__ingredients-list {
  list-style: none;
  text-align: right;
}

.drink-music__img {
  width: 75%;
  margin-top: 30px;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .drink-music {
    flex-direction: column;
  }

  .drink-music__container {
    width: auto;
    padding: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  .drink-music {
    background-color: #00000086;
  }
}
