.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90dvw;
  height: 5rem;
  outline: solid black;
  border-radius: 20px;
  margin: 1rem auto;
}

.header__title {
  font-size: 1rem;
  width: 20%;
}

.header__nav {
  flex: 80%;
}

.header__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header__nav-item {
  margin-right: 10px;
  text-decoration: none;
  font-size: 1rem;
}

.header__nav-item:last-child {
  margin-right: 0;
}

/* Nav menu */

/* Hamburger Icon */
.header__nav-icon {
  display: none;
  order: 3;
  cursor: pointer;
  font-size: 24px;
}

.header__title {
  font-size: 1rem;
  width: 20%;
  order: 1;
}

.header__nav {
  flex: 1;
  order: 2;
}

.header__nav-toggle-input {
  display: none;
}

/* Nav styles */
.header__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__nav-item {
  margin-bottom: 10px;
}

.header__nav-link {
  text-decoration: none;
  color: black;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .header__nav-icon {
    display: block;
    order: 2;
    margin-left: auto;
    padding-right: 1em;
  }

  .header__nav-list {
    display: none;
  }

  .header__nav-toggle-input:checked + .header__nav-list {
    display: block;
  }

  /* .header__nav-toggle-input:checked + .header__nav-icon {
     
    } */

  .header__nav {
    display: none;
  }

  .header__nav-list {
    display: block;
    text-align: center;
  }

  .header__nav-item {
    margin-bottom: 10px;
    display: block;
  }

  .header__nav-link {
    text-decoration: none;
    color: black;
  }

  .header__nav-toggle-input:checked + .header__nav {
    display: block;
  }

  .header__nav--visible {
    display: block;
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
