.music-mix__drinks-title {
  font-size: 2rem;
}

.music-mix__text {
  width: 80%;
  margin: auto;
}

.music-mix__category {
  list-style: none;
  padding: 0 0 8px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px auto 0;
  max-width: 80%;
}

.music-mix__category-item {
  margin: 2px;
  font-family: "Annie Use Your Telescope";
  font-size: 1.5rem;
}

.music-mix__category-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0ca;
  border-radius: 5px;
  padding: 10px;
  margin: 0 3px 6px;
  transition: background-color 0.3s ease;
  color: var(--link-color);
}

.music-mix__category-link:hover {
  background-color: var(--accent-color);
  color: var(--link-active-color);
}

.musicmix__drinks-img {
  width: 200px;
}

.music-mix__drink-link:hover {
  outline: solid #d7e5f5;
  border-radius: 0 0 8px 8px;
}

.music-mix__drink-link {
  text-decoration: none;
  color: var(--link-color);
  font-size: 1.2rem;
  padding-bottom: 0;
  display: block;
}

.music-mix__drink-link:hover {
  backdrop-filter: hue-rotate(271deg);
  /* outline: solid white; */
}

.music-mix__drink-text {
  padding: 0;
  background-color: #ffffffae;
  margin-top: -7px;
  position: relative;
  z-index: -1;
  font-size: 1.3rem;
}

.music-mix__drinks-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0;
  margin: auto 0;
  justify-content: center;
}

.music-mix__drinks-list-item {
  width: 200px;
  margin: 3px;
}

@media (prefers-color-scheme: dark) {
  .music-mix__category-link {
    background-color: #940c59;
    color: #fff;
  }
  .music-mix__category-link:hover {
    background-color: #fde9d0;
    color: #122456;
  }
  .music-mix__drinks-title {
    color: #fff;
  }

  .music-mix__drink-text {
    color: black;
  }
  .styled-overlay {
    background-color: #00000086;
    color: #fff;
    box-shadow: 0 0 10px 10px #00000086;
  }
}
